
.icon{
    width: 100px;
    height: 100px;
    margin: 30px auto 20px;
}

.icon img{
    width: 100%;
    height: 100%;
}
.tip {
    width: 100%;
    text-align: center;

    margin: 20px 0 30px;
}

.tip .title{
    font-size: 16px;
    color: #1D2129;
}

.tip .subtitle{
    font-size: 13px;
    color: #86909C;

    margin-top: 6px;
}

.get-code-btn{
    color:#0968f6
}