page{
    
}
.exercises-log{
    padding: 15px 0;
    background-color: #fff;
    border-bottom: 1px solid #F2F3F5;
}

.exercises-log:last-child{
    border-bottom: none;
}

.exercises-log-header{
    display: flex;
    justify-content: space-between;
}


.exercises-log-count{
    font-size: 14px;
    color: gray;
    /* font-weight: 600; */
}

.exercises-log-count span{
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
}

.exercises-log-count-error{
    color: #F53F3F;
}

.exercises-log-count-success{
    color: #00B42A;   
}

.exercises-log-count-all{
    color: #1D2129;
}

.exercises-log-list{
    margin-top: 5px;
    font-size: 12px;
    color: #86909C;
    display: flex;
    justify-content: space-between;
}

.exercises-log-value{
    color: #1D2129;
    margin: 0 3px;   
    max-width: 300px;
}


.analyze{
    font-size: 12px;
    color: #0968f6;
}