page{
	background-color: #fff;
}

.container{
    padding: 15px;
}

.header-tip {
	font-size: 22px;
	font-weight: 500;
	color: #1D2129;

	margin-top: 40px;
}

.header-tip .title {
	/* font-size: 36px; */
}

.header-tip .sub-title {
	/* font-size: 16px; */
	margin-top: 20rpx;
}

.header-tip .nav-text {
	margin-left: 10rpx;
}

.get-code-btn {
	font-size: 14px;
}

.input-box,
.btn-box {
	margin-top: 40px;
}

.get-code-btn {
	color: #0968f6;
}


.nav-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	color: #86909c;
	font-size: 14px;
}

.nav-btn .register-btn span {
	margin-left: 10px;
}


.login-more-btn {
	position: fixed;
	width: calc(100% - 30px);
	left: 15px;
	bottom: 60px;
}

.login-more-btn .platform-btn {
	margin: 10px 10px;
	text-align: center;
	display: flex;
	justify-content: center;
}


.login-more-btn .platform-btn .weixin {
	color: green;
	font-size: 30px;
}