.status-btn{
    padding-left: 10px;
}
.status-btn div img{
    width: 26px;
    height: 26px;
}

.status-btn div{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}


.status-btn-pause{
    display: none;
}